<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<div th:replace="header :: header">...</div>
<h3 th:text="${title}">Welcome to springboot</h3>
<form action="/users" th:action="@{/saveUser}" method="post" th:object="${user}" >
    <input type="hidden" name="id" th:value="${user.id}">
    code：<br>
    <input type="text" name="code" th:value="*{code}">
    <br>
    名称：<br>
    <input type="text" name="userName" th:value="*{userName}">
    <br>
    电话：<br>
    <input type="text" name="phoneNum" th:value="*{phoneNum}">
    <br>
    email：<br>
    <input type="text" name="email" th:value="*{email}">
    <br>
    <input type="submit" value="提交">
</form>



<div th:replace="~{footer :: footer}">...</div>

</body>
</html>