<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<head>
    <meta charset="UTF-8">
    <title>springboot</title>
</head>
<body>
<div th:replace="header :: header">...</div>
<h3 th:text="${title}">Welcome to springboot</h3>
<div>
    <!--<a href="/users/form.html" th:href="@{/users/form}">创建用户</a>-->
    <a th:href="@{/form}" >创建用户</a>
</div>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>code</td>
        <td>Name</td>
        <td>phoneNum</td>
        <td>email</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userList.size()} eq 0">
        <td colspan="3">没有用户信息！！</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td>
            <a href="view.html" th:href="@{'/view/?id=' + ${user.id}}" th:text="${user.id}"></a>
        </td>
        <td th:text="${user.code}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.phoneNum}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>

</table>

<div th:replace="~{footer :: footer}">...</div>
</body>
</html>